*~
.idea/
.php_cs.cache
.svn/
/_build/
/backup/
/composer.phar
/config/config.local.php
/log/
/nbproject/private/
/node_modules
/public/js/1stparty.min.js
/public/js/1stparty.min.js.map
/public/js/3rdparty.min.js
/public/js/3rdparty.min.js.map
/public/js/CDash_*.min.js*
/tests/config.test.local.php
/upload/
/vendor/
build/
local/
/.vagrant
/ansible/roles/geerlingguy.apache/
/ansible/roles/geerlingguy.composer/
/ansible/roles/geerlingguy.mysql/
/ansible/roles/geerlingguy.php/
/ansible/roles/leonidas.nvm/
